<div id="simple-modal">
    <div class="simple-modal-content">
    <b>kustuta kasutaja</b>
    <br><br>
    <a href ng-click="ok()" id="simple-modal-ok">ja</a> 
    <a href ng-click="cancel()" id="simple-modal-cancel">ei</a>

    </div>
</div>