<h1>Add contact</h1>
<p>Name: <input id="name-input" type="text" ng-model="vm.newContact.name"></p>
<p>Telephone: <input id="phone-input" type="text" ng-model="vm.newContact.phone"></p>
<button id="save-link" ng-click="vm.addContact()">{{ vm.edit ? "Edit contact" : "Add contact" }}</button>

