<h1>All contacts</h1>
<span>Filter contacts:</span><input id="search-string"  type="text" ng-model="search">
 <table>
    <tr ng-repeat="contact in vm.contacts | filter: search" ng-class="{ selected: contact.select }">
        <td><input type="checkbox" ng-model="contact.select"></td>
        <td><a class="edit-link" href="#/new/{{contact._id}}">{{contact.name}}</a></td>
        <td><a href="#/new/{{contact._id}}">{{contact.phone}}</a></td>
        <td><button class="delete-link" ng-click="vm.deleteContact(contact._id)">X</button></td>
    </tr>
</table>
