<ul id="menu" class="nav nav-tabs">
    <li role="presentation"><a routerLink="/search" id="menu-search">Search</a></li>
    <li role="presentation"><a routerLink="/new" id="menu-new">New</a></li>
</ul>
<div class="container">
<router-outlet></router-outlet>
</div>