<label>Name:</label>
<input id="name-input" [(ngModel)]="newContactName" type="text" class="form-control">


<label>Phone:</label>
<input id="phone-input" [(ngModel)]="newContactPhone" type="text" class="form-control">

<button id="save-link" class="btn btn-default" (click)="addNewContact()">{{updateMode ? 'Update contact' : 'Add new contact'}}</button>
