<h1>All contacts</h1>
<input class="form-control" id="search-string" name="term" [(ngModel)]="term" type="text" placeholder="Search for contact..">
 <table class="list-table">
    <tr *ngFor="let contact of contacts | filter:term" [class]="contact.selected ? 'selected' : ''">
        <td><input type="checkbox" [(ngModel)]="contact.selected"></td>
        <td><a routerLink="/new/{{ contact._id }}" class="edit-link">{{contact.name}}</a></td>
        <td><a routerLink="/new/{{ contact._id }}">{{contact.phone}}</a></td>
        <td><button (click)="deleteContact(contact._id)" class="delete-link">X</button></td>
    </tr>   
</table>
<button (click)="deleteContacts()" id="delete-all-link">Delete selected</button>